---
import Section from "../layouts/Section.astro";
import Event, {Props} from "./Event.astro";
import dayjs from 'dayjs';

const yesterday = dayjs().subtract(1, "day");

const events: Props[] = [
    {
        facebookEventId: "25836Ø8050274929",
        locationName: "Muddy Paws Farm Rescue",
        date: "2023-09-16",
    },
    {
        facebookEventId: "2623327801138974",
        locationName: "Stoney's British Pub",
        date: "2023-10-06",
    },
    {
        facebookEventId: "292638716804868",
        locationName: "Midnight Oil Brewing Co.",
        date: "2023-11-11",
    },
    {
        facebookEventId: "623698503207827",
        locationName: "Autumn Arch Beer Project",
        date: "2023-12-22",
    },
].filter(e => yesterday.isBefore(e.date));
---

<Section id="Events" title="Events">
   <div class="content">
    {events.map(event => (
        <Event {...event} />
    ))}

<div class="past">
    <a href="https://www.facebook.com/luckystoneband/past_hosted_events">See past events</a>
   </div>
   </div>
</Section>

<style>
    .content {
        max-width: 800px;
        margin:0 auto;
    }
    .past {
        display: flex;
        margin: 3rem;
        justify-content: center;
    }
    a {
		background: transparent;
		border: none;
		color: var(--primary);
		cursor: pointer;
		font-size: 1.25rem;
		line-height: 1rem;
		padding: 0;
		text-decoration-color: rgba(var(--primaryRGB), 0.5);
		text-decoration-line: underline;
		text-decoration-thickness: 0.5px;
		text-underline-offset: 0.5rem;
		transition: all 0.3s ease;
	}

	a:hover,
	a:focus {
		color: var(--color-light);
		line-height: 1rem;
		text-decoration-color: rgba(var(--primaryRGB), 0.9);
    }
</style>