---
import CssNormalize from "../components/CssNormalize.astro";
import '@fontsource-variable/montserrat';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Based out of Newark, Delaware, Lucky Stone is an exhilarating cover
		band that knows how to bring the party to any event. With their
		talented and versatile lineup, they deliver a dynamic energy that's
		truly infectious. Whether it's a small gathering or a large outdoor
		concert, Lucky Stone's performances are a testament to their
		collective passion for music. They effortlessly switch between
		instruments and harmonies, creating a captivating experience that
		leaves audiences wanting more. Be sure to catch them at their next
		gig - Lucky Stone is all about delivering a memorable musical
		journey!"
		/>
		<meta
			name="viewport"
			content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
		/><link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link href="https://fonts.cdnfonts.com/css/squealer" rel="stylesheet" />
                        
		<CssNormalize />
	</head>
	<body>
		<slot />
	</body>
	<script src="https://kit.fontawesome.com/270f799859.js" crossorigin="anonymous"></script>
</html>

<style is:global>
	/* pallete https://coolors.co/3ca51e-e3b23c-edebd7-2a4b2e */
	:root {
		--primary: #3ca51e;
		--primaryRGB: 60, 165, 30;
		--color-primary-dark: #030801;
		--color-primary-dark-rgb: 3, 8, 1;
		--color-primary-dark2: #2A4B2E;
		--color-primary-dark2-rgb: 42, 75, 46;
		--color-lighter: #f9f8f1;
		--color-lighter-rgb: 249, 248, 241;
		--color-light: #edebd7;
		--color-light-rgb: 237, 235, 215;
		--font-header: "Squealer", sans-serif;
	}
	html {
  		font-family: 'Montserrat Variable', sans-serif;
		background: var(--color-primary-dark);
		color: var(--color-lighter);
	}
	body {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 0;
		margin: 0;
	}
</style>